[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playsound = "*"
pywhatkit = "*"
selenium = "*"
wget = "*"
gtts = "*"
"vext.gi" = "*"

[dev-packages]

[requires]
python_version = "3.7"
